<head>
  <meta charset="UTF-8">
  <meta name="description" content="Cake Template">
  <meta name="keywords" content="Cake, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cake | Template</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
  rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
  rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="../../../../css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../../../../css/flaticon.css" type="text/css">
  <link rel="stylesheet" href="../../../../css/barfiller.css" type="text/css">
  <link rel="stylesheet" href="../../../../css/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="../../../../css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../../../../css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="../../../../css/nice-select.css" type="text/css">
  <link rel="stylesheet" href="../../../../css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="../../../../css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="../../../../css/userdef.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="height: 175px;">
  <!-- Page Preloder -->
  <!-- <div id="preloder">
      <div class="loader"></div>
  </div> -->

  <!-- Offcanvas Menu Begin -->
  <div class="offcanvas-menu-overlay"></div>
  <div class="offcanvas-menu-wrapper">
      <div class="offcanvas__cart">
          <div class="offcanvas__cart__links">
              <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
              <a href="#"><img src="img/icon/heart.png" alt=""></a>
          </div>
          <div class="offcanvas__cart__item">
              <a routerLink='/cart'><img src="img/icon/cart.png" alt=""> <span></span></a>
          </div>
      </div>
      <div class="offcanvas__logo">
          <a href="./index.html"><img src="img/logo.png" alt=""></a>
      </div>
      <div id="mobile-menu-wrap"></div>
  </div>
  <!-- Offcanvas Menu End -->

  <!-- Header Section Begin -->
  <header class="header">
      <div class="header__top">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="header__top__inner">
                          <div class="header__top__left">
                              <ul>
                                  <li><a *ngIf="!loggedIn()" routerLink="login">Sign in</a></li>
                                  <li><a *ngIf="loggedIn()" (click)="logout()">Logout</a></li>
                              </ul>
                          </div>
                          <div class="header__logo">
                              <a href="./index.html"><img src="img/logo.jpg" alt="" height='50px' width="150px"></a>
                          </div>
                          <div class="header__top__right">
                              <div class="header__top__right__cart">
                                  <a routerLink='/cart'><i class="fa fa-shopping-cart fa-3x" style="color: orangered;"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="canvas__open"><i class="fa fa-bars"></i></div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <nav class="header__menu mobile-menu">
                      <ul>
                          <li [ngClass]="home"><a routerLink=''>Home</a></li>
                          <li [ngClass]="about"><a routerLink="aboutus">About</a></li>
                          <li><a href="#contact">Contact</a></li>
                          <li><a routerLink='/myorders' [ngClass]="myorders" [style.display]=this.dis>My Orders</a></li>
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- Header Section End -->
  <script src="../../../../js/jquery-3.3.1.min.js"></script>
  <script src="../../../../js/bootstrap.min.js"></script>
  <script src="../../../../js/jquery.nice-select.min.js"></script>
  <script src="../../../../js/jquery.barfiller.js"></script>
  <script src="../../../../js/jquery.magnific-popup.min.js"></script>
  <script src="../../../../js/jquery.slicknav.js"></script>
  <script src="../../../../js/owl.carousel.min.js"></script>
  <script src="../../../../js/jquery.nicescroll.min.js"></script>
  <script src="../../../../js/main.js"></script>
</body>