<app-fheader></app-fheader>
<div class="breadcrumb-option">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="breadcrumb__links">
                  <a routerLink="">Home</a>
                  <span>About</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- About Section Begin -->
<section class="about spad">
  <div class="container">
    <img src="../../../../img/about1.jpg" width="70%" style="margin-left: 10%;">
      <div class="row">
          <div class="col-lg-6 col-md-6" style="margin-left: 20%;">
              <div class="about__text">
                  <div class="section-title">
                      <span>About WoW MoM</span>
                      <h2>Cakes and bakes from the house of Queens!</h2>
                  </div>
                  <p>From wanting to have food always from a restaurant/cafe/hotel, to longing for having MOM made
                     food, we have all been a part of the transformation and seen the warmth and care that mom’s 
                     food can bring in our lives. Because when it comes to love and food, nothing can beat our dear
                      mothers and it is only them who can express their love for us through FOOD.
                      <br><br>
                    Food has always been a form of language for mom’s care and love. She overloads our food with 
                    loads of love & care by handling all our tantrums and also makes sure that even the veggies that
                     we hate the most taste delicious.
                     <br><br> 
                    Every mom has a signature dish so famous that even our friends crave for it. Such is the kind of
                     food we are providing to you from WOW!MOM, a food startup that is specialized in making luscious
                      food @Hyderabad which satisfies your home-made food cravings at modest prices.
                    </p>
              </div>
          </div>
          <!-- <div class="col-lg-6 col-md-6">
              <div class="about__bar">
                  <div class="about__bar__item">
                      <p>Cake design</p>
                      <div id="bar1" class="barfiller">
                          <div class="tipWrap"><span class="tip"></span></div>
                          <span class="fill" data-percentage="95"></span>
                      </div>
                  </div>
                  <div class="about__bar__item">
                      <p>Cake Class</p>
                      <div id="bar2" class="barfiller">
                          <div class="tipWrap"><span class="tip"></span></div>
                          <span class="fill" data-percentage="80"></span>
                      </div>
                  </div>
                  <div class="about__bar__item">
                      <p>Cake Recipes</p>
                      <div id="bar3" class="barfiller">
                          <div class="tipWrap"><span class="tip"></span></div>
                          <span class="fill" data-percentage="90"></span>
                      </div>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</section>
<!-- About Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="section-title">
                  <span>Testimonial</span>
                  <h2>Our client say</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="testimonial__slider">
              <div class="col-lg-6">
                  <div class="testimonial__item">
                      <div class="testimonial__author">
                          <div class="testimonial__author__pic">
                              <img src="img/testimonial/ta-1.jpg" alt="">
                          </div>
                          <div class="testimonial__author__text">
                              <h5>AK Chopra</h5>
                              <span>Hyderabad</span>
                          </div>
                      </div>
                      <div class="rating">
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                      </div>
                      <p>	WOW!MOM did an outstanding job with our son’s first birthday cake. My first query was responded immediately and from there the process was smooth. Our theme was ‘Doraemon’ as it is my son’s favourite cartoon. They were very patient and open to all creative ideas. And on the day, the cake went beyond our expectations. Can’t wait to order more cakes, for all our future events.</p>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="testimonial__item">
                      <div class="testimonial__author">
                          <div class="testimonial__author__pic">
                              <img src="img/testimonial/ta-2.jpg" alt="">
                          </div>
                          <div class="testimonial__author__text">
                              <h5>Mary</h5>
                              <span>Hyderabad</span>
                          </div>
                      </div>
                      <div class="rating">
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                          <span class="icon_star-half_alt"></span>
                      </div>
                      <p>Want to thank wow-mom for making our occasion more joyous and memorable. The cake was delicious and moist. Incredibly talented designer and baker. I ordered a personalized cake for our anniversary and I surprised my wife with her favorite Gulab jamun flavour which is quite rare. She absolutely loved it!</p>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="testimonial__item">
                      <div class="testimonial__author">
                          <div class="testimonial__author__pic">
                              <img src="img/testimonial/ta-3.jpg" alt="">
                          </div>
                          <div class="testimonial__author__text">
                              <h5>MK Reddy</h5>
                              <span>Hyderabad</span>
                          </div>
                      </div>
                      <div class="rating">
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                      </div>
                      <p>Ordered a fruit cake for our grandfather’s birthday party. It was totally sugar-free and delicious at the same time. The detailing the decoration of the cake is commendable, great job!! Love to keep you guys in light for coming occasions.</p>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="testimonial__item">
                      <div class="testimonial__author">
                          <div class="testimonial__author__pic">
                              <img src="img/testimonial/ta-4.jpg" alt="">
                          </div>
                          <div class="testimonial__author__text">
                              <h5>KR Rao</h5>
                              <span>Hyderabad</span>
                          </div>
                      </div>
                      <div class="rating">
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                      </div>
                      <p>We want to thank you for the delicious cupcakes; taking the order in such a short notice! Our daughter's first birthday party was a huge success, and every guest absolutely loved the cupcakes!! Very professional and knowledgeable about their craft. ’Twas a great experience having services from you guys.</p>
                  </div>
              </div>
              <!-- <div class="col-lg-6">
                  <div class="testimonial__item">
                      <div class="testimonial__author">
                          <div class="testimonial__author__pic">
                              <img src="img/testimonial/ta-1.jpg" alt="">
                          </div>
                          <div class="testimonial__author__text">
                              <h5>Ophelia Nunez</h5>
                              <span>London</span>
                          </div>
                      </div>
                      <div class="rating">
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                          <span class="icon_star-half_alt"></span>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                      ut labore et dolore magna aliqua viverra lacus vel facilisis.</p>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="testimonial__item">
                      <div class="testimonial__author">
                          <div class="testimonial__author__pic">
                              <img src="img/testimonial/ta-2.jpg" alt="">
                          </div>
                          <div class="testimonial__author__text">
                              <h5>Kerry D.Silva</h5>
                              <span>New york</span>
                          </div>
                      </div>
                      <div class="rating">
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                          <span class="icon_star"></span>
                          <span class="icon_star-half_alt"></span>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                      ut labore et dolore magna aliqua viverra lacus vel facilisis.</p>
                  </div>
              </div> -->
          </div>
      </div>
  </div>
</section>
<app-ffooter></app-ffooter>